In [6]:
import pandas as pd
import os

file_path = os.getcwd() + '\\2_Staging\\Spring 2022 Outcome Report 2.1.csv'

data = pd.read_csv(file_path)
dataframe = pd.DataFrame(data)

dataframe

,Unnamed: 0,submission_date,outcome code,outcome year,semester,course,section,outcome score,outcome rating
0,13328,2022-04-18,CF2,U1415,SP2022,THEO2100,03,3.0,Exemplary
1,17704,2022-05-01,CF2,U1415,SP2022,THEO2100,03,1.0,Minimum
2,20155,2022-05-02,CF2,U1415,SP2022,THEO2100,03,3.0,Exemplary
3,21601,2022-05-02,CF2,U1415,SP2022,THEO2100,03,2.0,Target
4,24034,2022-05-02,CF2,U1415,SP2022,THEO2100,03,3.0,Exemplary
...,...,...,...,...,...,...,...,...,...
1494,40928,2022-05-02,IP4,U2021,SP2022,ENGL1030B,02,3.0,Exemplary
1495,41052,2022-05-03,IP4,U2021,SP2022,ENGL1030B,01,0.0,Fail
1496,41073,2022-04-29,IP4,U2021,SP2022,ENGL1030B,02,2.0,Target
1497,41102,2022-04-29,IP4,U2021,SP2022,ENGL1030B,02,2.0,Target
1498,41120,2022-04-29,IP4,U2021,SP2022,HNRS2560,01,1.0,Minimum

In [13]:
score = dataframe.groupby(['course', 'outcome rating'])['outcome score'].count()

score.to_csv('3_Features\\select_by_course_and_outcome_rating.csv')

score

course    outcome rating
ARDE3950  Minimum                4
          Target                11
BIBL1100  Exemplary              2
          No Data Collected    174
BIOL1060  Exemplary              3
                              ...
THEO3620  Minimum                5
          No Data Collected      1
          Target                 8
THEO4900  Exemplary              8
          Target                 4
Name: outcome score, Length: 135, dtype: int64