# Generate Reports using Pandas/SQL Queries
This notebook will create a series of reports, each used for visualization in PowerBI

## Generate Reports based on Outcome Rating

In [9]:
import pandas as pd
import os

file_path = '2_Staging\\Spring 2022 Outcome Report 2.1.csv'
course_path = '2_Staging\\Spring 2022 GE Courses.csv'

dataframe = pd.DataFrame(pd.read_csv(file_path))
courseframe = pd.DataFrame(pd.read_csv(course_path))

dataframe

,Unnamed: 0,submission_date,assignment code,outcome code,outcome year,course_id,semester,course,section,outcome score,outcome rating,college,compliance
0,13328,2022-04-18,422281,CF2,U1415,SP2022_THEO2100_03,SP2022,THEO2100,03,3.0,Exemplary,College of Theology & Christian Ministry,Outcome assessed
1,17704,2022-05-01,422281,CF2,U1415,SP2022_THEO2100_03,SP2022,THEO2100,03,1.0,Minimum,College of Theology & Christian Ministry,Outcome assessed
2,20155,2022-05-02,422281,CF2,U1415,SP2022_THEO2100_03,SP2022,THEO2100,03,3.0,Exemplary,College of Theology & Christian Ministry,Outcome assessed
3,21601,2022-05-02,422281,CF2,U1415,SP2022_THEO2100_03,SP2022,THEO2100,03,2.0,Target,College of Theology & Christian Ministry,Outcome assessed
4,24034,2022-05-02,422281,CF2,U1415,SP2022_THEO2100_03,SP2022,THEO2100,03,3.0,Exemplary,College of Theology & Christian Ministry,Outcome assessed
...,...,...,...,...,...,...,...,...,...,...,...,...,...
1494,40928,2022-05-02,466450,IP4,U2021,SP2022_ENGL1030B_02,SP2022,ENGL1030B,02,3.0,Exemplary,College of Arts and Humanites,Outcome assessed
1495,41052,2022-05-03,464908,IP4,U2021,SP2022_ENGL1030B_01,SP2022,ENGL1030B,01,0.0,Fail,College of Arts and Humanites,Outcome assessed
1496,41073,2022-04-29,466450,IP4,U2021,SP2022_ENGL1030B_02,SP2022,ENGL1030B,02,2.0,Target,College of Arts and Humanites,Outcome assessed
1497,41102,2022-04-29,466450,IP4,U2021,SP2022_ENGL1030B_02,SP2022,ENGL1030B,02,2.0,Target,College of Arts and Humanites,Outcome assessed
1498,41120,2022-04-29,467000,IP4,U2021,SP2022_HNRS2560_01,SP2022,HNRS2560,01,1.0,Minimum,College of Arts and Humanites,Outcome assessed

### Outcome Ratings by Section

In [42]:
score = dataframe.groupby(['course_id', 'outcome rating'])['outcome score'].count()
count = courseframe.groupby(['course_id'])['studentCount'].sum()
score.to_csv('3_Features\\Outcome_Rating_by_Course.csv')

score

course_id           outcome rating
SP2022_ARDE3950_01  Minimum                4
                    Target                11
SP2022_BIBL1100_01  Exemplary              2
                    No Data Collected    174
SP2022_BIOL1060_1U  Exemplary              3
                                        ...
SP2022_THEO3620_01  Minimum                5
                    No Data Collected      1
                    Target                 8
SP2022_THEO4900_01  Exemplary              8
                    Target                 4
Name: outcome score, Length: 162, dtype: int64

In [43]:
count
count.to_csv('test.csv')

### University Outcome Ratings

In [7]:
score = dataframe.groupby(['outcome rating'])['outcome score'].count()

score.to_csv('3_Features\\Outcome_Rating_University.csv')

score

outcome rating
Exemplary                                    398
Fail                                          37
Invalid Entry - Distinguished/Commendable     42
Minimum                                      115
No Data Collected                            317
Target                                       590
Name: outcome score, dtype: int64

### Outcome Ratings by College

In [8]:
score = dataframe.groupby(['college', 'outcome rating'])['outcome score'].count()

score.to_csv('3_Features\\Outcome_Rating_by_College.csv')

score

college                                   outcome rating
College of Arts and Humanites             Exemplary                                    189
                                          Fail                                          14
                                          Minimum                                       77
                                          No Data Collected                             72
                                          Target                                       253
College of Behavior and Social Sciences   Exemplary                                     24
                                          Fail                                          11
                                          Minimum                                        3
                                          Target                                        16
College of Educaton                       Exemplary                                     18
                                          Target                                        29
College of Natural and Applied Sciences   Exemplary                                     51
                                          Fail                                          12
                                          Minimum                                       10
                                          No Data Collected                             70
                                          Target                                       144
College of Nursing                        Exemplary                                     37
College of Theology & Christian Ministry  Exemplary                                     79
                                          Invalid Entry - Distinguished/Commendable     42
                                          Minimum                                       25
                                          No Data Collected                            175
                                          Target                                       148
Name: outcome score, dtype: int64

## Generate Reports Based on Compliance

### Compliance by College

In [13]:
compliance = dataframe.groupby(['college', 'compliance'])['compliance'].count()

compliance.to_csv('3_Features\\Compliance_by_College.csv')

compliance

college                                   compliance
College of Arts and Humanites             Outcome assessed                        533
                                          Outcome attached, no assessment          72
College of Behavior and Social Sciences   Outcome assessed                         54
College of Educaton                       Outcome assessed                         47
College of Natural and Applied Sciences   Outcome assessed                        217
                                          Outcome attached, no assessment          70
College of Nursing                        Outcome assessed                         37
College of Theology & Christian Ministry  Outcome assessed                        252
                                          Outcome attached, invalid assessment     42
                                          Outcome attached, no assessment         175
Name: compliance, dtype: int64

### Compliance by Course

In [3]:
compliance = dataframe.groupby(['course', 'section', 'compliance'])['compliance'].count()

compliance.to_csv('3_Features\\Compliance_by_Section.csv')

compliance

course    section  compliance
ARDE3950  01       Outcome assessed                    15
BIBL1100  01       Outcome assessed                     2
                   Outcome attached, no assessment    174
BIOL1060  1U       Outcome assessed                    20
                   Outcome attached, no assessment      5
                                                     ...
PSYC4010  01       Outcome assessed                     6
THEO2100  03       Outcome assessed                    35
THEO3620  01       Outcome assessed                    14
                   Outcome attached, no assessment      1
THEO4900  01       Outcome assessed                    12
Name: compliance, Length: 82, dtype: int64

In [14]:
compliance = dataframe.groupby(['course', 'compliance'])['compliance'].count()

compliance.to_csv('3_Features\\Compliance_by_Course.csv')

compliance

course    compliance
ARDE3950  Outcome assessed                    15
BIBL1100  Outcome assessed                     2
          Outcome attached, no assessment    174
BIOL1060  Outcome assessed                    20
          Outcome attached, no assessment      5
                                            ...
PSYC4010  Outcome assessed                     6
THEO2100  Outcome assessed                    35
THEO3620  Outcome assessed                    14
          Outcome attached, no assessment      1
THEO4900  Outcome assessed                    12
Name: compliance, Length: 66, dtype: int64

### Compliance across the University

In [15]:
compliance = dataframe.groupby(['compliance'])['compliance'].count()

compliance.to_csv('3_Features\\Compliance_University.csv')

compliance

compliance
Outcome assessed                        1140
Outcome attached, invalid assessment      42
Outcome attached, no assessment          317
Name: compliance, dtype: int64